.main-header-block {
    background-color: #252627;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.header-logotype {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    color: white;
    font-size: 50px;
    font-weight: bolder ;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    text-shadow:
    0 0 5px rgb(15, 223, 15),
    0 0 10px rgb(82, 240, 9), 
    0 0 20px rgb(39, 223, 22), 
    0 0 40px rgb(0, 255, 64), 
    0 0 80px rgb(41, 223, 24), 
    0 0 120px rgb(18, 199, 27);
    animation: neon 1.5s infinite alternate;
}

.search {
    width: 30%;
    height: 50px;
}